// Styling for the download section
section.contact {
    text-align: center;
    h2 {
        margin-top: 0;
        // padding-bottom: 10px;
        // border-bottom: 1px solid fade-out($gray-darker, .9);
        margin-bottom: 25px;
        i {
            color: $brand-google-plus;
        }
    }
    .price {
      font-size: 100px;
      color: $theme-secondary;
      background: -webkit-linear-gradient($theme-secondary, $theme-tertiary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid fade-out($gray-darker, .7);

    }
    ul.feature-list {
      margin-top: 25px;
      font-size: 1.3em;
      padding: 0;

      li {
        list-style: none;
        margin-bottom: 10px;
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
    .plans {
      .feature-item {
        margin-bottom: 2em;
        margin-bottom: 2em;
        border: 1px solid fade-out($gray-darker, .7);
        padding: 16px;
        border-radius: 24px;

        .plan-name {
          font-weight: bold;
          font-size: 2em;
        }
      }
    }
}
