// Styling for the call to action section

section.cta {
  position: relative;
  padding: 250px 0;
  background-image: url("https://i.imgur.com/CGAMFhQ.jpg");
  background-position: center;
  @include background-cover;

  .cta-content {
    position: relative;
    z-index: 1;

    h2 {
      font-size: 50px;
      margin-top: 0;
      margin-bottom: 25px;
      color: white;
    }
    @media (min-width: 768px) {
      h2 {
        font-size: 80px;
      }
    }
  }

  &.signup-cta {
    padding: 100px 0;
    height: 100vh;
    background-image: url("https://i.imgur.com/QNHbLJV.jpg");

    #signup-form {
      color: white;

      .form-control {
        color: white;
        background-color: transparent;

        &:focus {
          background-color: transparent;
        }
      }

      .btn-outline {
        background-color: transparent;

        &:hover {
          background-color: $theme-primary;
        }
      }
    }

    .overlay {
      background: linear-gradient(to bottom, fade-out(black, .1), fade-out(black, .3));
    }
  }

  &.stillbuilding-cta {
    height: 100vh;
    background-image: url("https://i.imgur.com/Zcao1jo.jpg");
    color: white;

    .overlay {
      background: linear-gradient(to bottom, fade-out(black, .3), fade-out(black, .2));
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, fade-out(black, .2), fade-out(black, .5));
  }
}
