@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "download.scss";
@import "features.scss";
@import "cta.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";

.ep-clearfix {
  margin-top: 2em;
}

.faq {
  hr {
    margin-bottom: 25px;
  }
}
